.home-page-container {
  background-color: #f2f2f2; 
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.welcome-message {
  flex: 1; 
  font-size: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; 
  background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png'); 
  background-position: right 10px center; 
  background-size: 16px; 
  background-repeat: no-repeat;
}

.question-mark-icon {
  margin-left: 10px;
  cursor: pointer;
  height: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff; 
  border-radius: 1px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}