.page-container {
  background-image: url('https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .logo img {
    width: 200px; 
    margin-bottom: 30px;
  }
  
  .welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .email-input input {
    width: 300px;
    padding: 10px;
    border:  3px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .login-button button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button button:hover {
    background-color: #0056b3;
  }

  
  